{% extends 'pwn/welcome.html' %}

{% block admin_welcome %}
    {% load static %}
    <table style="padding-top: 200px" border="0" align="center">
    <tr>
        <th colspan="5" ><h3 align="center">View All Cuisine Type</h3></th>
    </tr>
    <tr>
        <th>Id</th>

        <th>Cuisine Type</th>

        <th width="200">Photo</th>

        <th width="100">Update</th>

        <th width="100">Delete</th>
    </tr>
    {% for x in data %}
        <tr style="color: #000009">
            <th width="100">{{ x.id }}</th>
            <th width="100">{{ x.type }}</th>
            <th width="100"> <img src="{{ x.photo.url }}" width="100" height="100"></th>
            <th><a href="{% url 'updatecuisine' %}?id={{ x.id }}"><img src="{% static 'images/update.png' %}"></a></th>
            <th><a href="{% url 'deletecuisine' %}?id={{ x.id }}"><img src="{% static 'images/delete.png' %}"></a></th>

        </tr>
    {% endfor %}


    </table>


{% endblock %}