{% extends 'pwn/welcome.html' %}

{% block admin_welcome %}
    <body style="background-color: #4e896f">
    {% load static %}

<form action="{% url 'addcity' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
 {% if pdata %}
   <form action="{% url 'update_city' %}?sid={{ pdata.id }}" method="post" enctype="multipart/form-data">
   {% csrf_token %}
    <table  border="0" style="text-align: center;padding-left:50cm;background-color: #c3c7cd">
        <tr><th style="text-align: center;color: #070dff"><h1><b>Update City</b></h1></th></tr>
        <tr>
            <th><input type="hidden" required placeholder="Id" name="c3" value="{{ pdata.id }}" ></th>
        </tr>

        <tr>
            <th><input type="text" required placeholder="City Name" name="c1" value="{{ pdata.name }}" ></th>
        </tr>
        <tr>
        <th>
           <select name="c4">
                            {% for x in data %}
                                <option value="{{ x.id }}"> {{ x.name }}</option>
                            {% endfor %}
                        </select>
        </th>
        <tr>
            <th>

                <input type="file" required placeholder="image" name="c2" value="{{ pdata.photo.url }}" alt="{{ pdata.image.url }}"></th>
        </tr>
        <tr><th>{{ pdata.photo.file }}</th>
        </tr>
        <tr>
            <th><button type="submit" class="btn btn-primary" data-toggle="modal" style="background: red">Update</button></th>
        </tr>
    </table>
   </form>
{% else %}
    <div class="col-sm-6" style="text-align: center;padding-left:600px">
        <table align="center" border="0" style="background:#c3e6cb">
            <tr><th><h1 style="color: #1111ff"><b>Add City</b> </h1></th></tr>
            <tr>
            <th><input type="text" required placeholder="City Name" name="c1" value="{{ data.name }}"></th>
        </tr>
        <tr>
            <th><input type="file" required placeholder="image" name="c2" value="{{ data.photo.url }}"></th>
        </tr>
        <tr>
        <th>
           <select name="c3">
                            {% for x in data %}
                                <option value="{{ x.id }}"> {{ x.name }}</option>
                            {% endfor %}
                        </select>
        </th>
        </tr>
        <tr>
            <th><button type="submit" class="btn btn-primary" data-toggle="modal" style="background: red">Add</button></th>
        </tr>
    {% endif %}




     {% for x in messages %}
        <tr><th>
        <h3 style="color: red;font-size: 20px;font-family: 'Segoe MDL2 Assets';text-align: center">
            {{ x }}
        </h3>
        </th></tr><br><br>
    {% endfor %}

  </table>
    </div>
</form>

    <table style="color: #130cde" border="0" align="center"><br><br>
    <tr><th colspan="6"><h4 style="text-align: center;color: #ff3018"><b>View All City Details</b></h4></th></tr>
    <tr>
        <th>Id</th>

        <th>City Name</th>

        <th width="200">Photo</th>

        <th width="100">State</th>

        <th width="100">Update</th>

        <th width="100">Delete</th>
    </tr>

    {% for x in data1 %}
        <tr style="color: #000009">
            <th width="100">{{ x.id }}</th>
            <th width="100">{{ x.name }}</th>
            <th width="100"> <img src="{{ x.photo.url }}" width="100" height="100"></th>
            <th width="100">{{ x.city_state.name}}</th>
            <th><a href="{% url 'update_c' %}?id={{ x.id }}"><img src="{% static 'images/update.png' %}"></a></th>

            <th><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#st{{ x.id }}" style="background-color: #0e07ff">
                        Delete
                    </button>

<!-- Modal -->
<div class="modal fade" id="st{{ x.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Option</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <a href="{% url 'deletecity' %}?id={{ x.id }}"><button type="button" class="btn btn-primary">Yes</button></a>
      </div>
    </div>
  </div>
</div></th>

        </tr>
    {% endfor %}

    </table>
 </body>
    {% endblock %}





