{% extends 'pwn/welcome.html' %}

{% block admin_welcome %}
{% load static %}


<table style="padding-top: 200px" border="0" align="center">

    <tr>
        <th>Id</th>

        <th>City Name</th>

        <th width="200">Photo</th>

        <th width="100">State</th>

        <th width="100">Update</th>

        <th width="100">Delete</th>
    </tr>

    {% for x in data %}
        <tr style="color: #000009">
            <th width="100">{{ x.id }}</th>
            <th width="100">{{ x.name }}</th>
            <th width="100"> <img src="{{ x.photo.url }}" width="100" height="100"></th>
            <th width="100">{{ x.city_state.name}}</th>
            <th><a href="{% url 'update_c' %}?id={{ x.id }}"><img src="{% static 'images/update.png' %}"></a></th>
            <th><a href="{% url 'deletecity' %}?id={{ x.id }}"><img src="{% static 'images/delete.png' %}"></a></th>

        </tr>
    {% endfor %}
    </table>

{% endblock %}